:root {
  --days: 39;
  --hours: 14;
  --minutes: 30;
  --seconds: 60;
  --grayish-blue: hsl(237, 18%, 59%);
  --desaturated-blue: hsl(236, 21%, 26%);
  --dark-blue-800: hsl(235, 16%, 14%);
  --dark-blue-900: hsl(234, 17%, 12%);
  --soft-red: hsl(345, 95%, 68%);
  --bg-clr-body: var(--dark-blue-800);
  --bg-clr-card: var(--desaturated-blue);
  --bg-clr-card-shadow: var(--dark-blue-900);
  --txt-clr-card: var(--soft-red);
  --txt-clr-card-title: var(--grayish-blue);
  --txt-size-card: 4.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg") bottom/100% no-repeat var(--bg-clr-body);
  font-family: "Red Hat Text", sans-serif;
  height: 100vh;
  overflow: hidden;
}

h3 {
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  top: 100px;
}

footer {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
}

svg {
  padding: 10px;
  cursor: pointer;
}

footer svg:hover path {
  fill: hsl(345, 95%, 68%);
}

main {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-grid {
  display: grid;
  gap: 32px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.flip-card {
  --_flip-card-size: 150px;
  background: linear-gradient(to bottom, #2f3047 50%, var(--bg-clr-card) 0);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 0 var(--bg-clr-card-shadow);
  color: var(--txt-clr-card);
  display: inline-flex;
  flex-direction: column;
  font-size: var(--txt-size-card);
  font-weight: 700;
  position: relative;
  perspective: 800px;

  height: var(--_flip-card-size);
  width: var(--_flip-card-size);
}
.flip-card::before, .flip-card::after {
  --_side_dot: px;
  content: "";
  background: var(--dark-blue-900);
  border-radius: 50%;
  height: var(--_side_dot);
  width: var(--_side_dot);
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.flip-card::before {
  left: calc(var(--_side_dot) / -2);
}
.flip-card::after {
  right: calc(var(--_side_dot) / -2);
}
.flip-card .top::before {
  content: "";
  background: var(--bg-clr-card-shadow);
  inset: 0; /*top: 0; right: 0; bottom: 0; left: 0;*/
  opacity: 0.3;
}

.flip-card .top,
.flip-card .bottom {
  --_speed: 450ms;
  background: var(--bg-clr-card);
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  height: 50%;
  width: 100%;
  transform-style: preserve-3d;
}
.flip-card .top[data-flip=true] {
  animation: top-to-bottom var(--_speed) ease-in;
}
.flip-card .bottom[data-flip=true] {
  animation: bottom-to-top var(--_speed) ease-out var(--_speed);
}
.flip-card .top {
  border-radius: 0.5rem 0.5rem 0 0;
}
.flip-card .bottom {
  border-radius: 0 0 0.5rem 0.5rem;
  top: 50%;
}
.flip-card .top::after {
  top: 50%;
}
.flip-card .top::after,
.flip-card .top::before,
.flip-card .bottom::after {
  position: absolute;
}
.flip-card .bottom::after {
  top: -50%;
}
.flip-card:nth-child(1) .top::after,
.flip-card:nth-child(1) .bottom::after {
  counter-reset: days var(--days);
  content: counter(days, decimal-leading-zero);
}
.flip-card:nth-child(2) .top::after,
.flip-card:nth-child(2) .bottom::after {
  counter-reset: hours var(--hours);
  content: counter(hours, decimal-leading-zero);
}
.flip-card:nth-child(3) .top::after,
.flip-card:nth-child(3) .bottom::after {
  counter-reset: minutes var(--minutes);
  content: counter(minutes, decimal-leading-zero);
}
.flip-card:nth-child(4) .top::after,
.flip-card:nth-child(4) .bottom::after {
  counter-reset: seconds var(--seconds);
  content: counter(seconds, decimal-leading-zero);
}

.card-title {
  color: var(--txt-clr-card-title);
  justify-self: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 10px;
  }

  main {
    width: 80%;
  }

  .container {
    width: 100%;
  }

  .flip-card {
    --_flip-card-size: 70px;
    font-size: 2rem;
  }

  .content-grid {
    gap: 16px;
  }
}
@keyframes top-to-bottom {
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes bottom-to-top {
  0% {
    transform: rotateX(90deg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotateX(0deg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
  }
}